#parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
  }
  
  .parallax__image {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 110%;
  }

img[src*="layer1"] {
  top: 0;
  height: 100%;
}

@media (max-width: 800px) {
  img[src*="layer1"] {
    height: 100%;
  }
}