.upblock
    ul.about-list
        li.about-item
            a.about-link(href="works.html") Мои работы
        li.about-item
            a.about-link(href="about.html") Обо мне
        li.about-item
            a.about-link(href="blog.html") Блог
        li.about-item
            a.about-link(href="welcome.html") Авторизация
    include ../common/socials-footer

.downblock
    .aboutmetext Я веб-разработчик из Краснодара , и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
    include ../common/copyrights