#overlay.overlay
    nav.overlay-menu
        ul.overlay-menu__list
            li.overlay-menu__item
                .dashbord
                a.overlay-menu__link(href='works.html') Мои работы
                .dashbord
            li.overlay-menu__item
                .dashbord
                a.overlay-menu__link(href='about.html') Обо мне
                .dashbord
            li.overlay-menu__item
                .dashbord
                a.overlay-menu__link(href='blog.html') Блог
                .dashbord
            li.overlay-menu__item
                .dashbord
                a.overlay-menu__link(href='welcome.html') Авторизация
                .dashbord