ul.socials-footer
    li.socials__item
        a(href="https://vk.com/vlatskiy" target='_blank' class=`socials__item socials__item_vk_round`)
              svg.icons__footer(width='36', height='36')
                  use(xlink:href=`images/icons/sprite.svg#vk_round`)
    li.socials__item
        a(href="https://github.com/Vlatskiy" target='_blank' class=`socials__item socials__item_github_round`)
              svg.icons__footer(width='36', height='36')
                  use(xlink:href=`images/icons/sprite.svg#github_round`)
    li.socials__item
        a(href="" target='_blank' class=`socials__item socials__item_in_round`)
              svg.icons__footer(width='36', height='36')
                  use(xlink:href=`images/icons/sprite.svg#in_round`)