ul.socials
    li.socials__item
        a(href="https://vk.com/vlatskiy" target='_blank' class='socials__item socials__item_vk')
            svg.icons(width='25', height='25')
                use(xlink:href='images/icons/sprite.svg#vk')
    li.socials__item
        a(href="https://github.com/Vlatskiy" target='_blank' class='socials__item socials__item_github')
            svg.icons(width='25', height='25')
                use(xlink:href='images/icons/sprite.svg#github')
    li.socials__item
        a(href="" target='_blank' class='socials__item socials__item_in')
            svg.icons(width='25', height='25')
                use(xlink:href='images/icons/sprite.svg#in')