doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title Блог
        link(rel='stylesheet' href='./styles/main.min.css')
        link(rel='icon' type='image/x-icon' href='./images/content/favicon.ico')
    body
        .wrapper
            header.header
                .header__portfolio-img
                    img.images(src="./images/bg/blog.jpg", alt="")
                include ../common/portfolio-header
                include ../common/overlay
                .header__portfolio-bg.header__portfolio-bg__size
                    svg.blog__bg-pic(viewBox="0 0 302.193 208.012")
                        use(xlink:href="./images/icons/sprite.svg#blog_header")
                .header-portfolio
                    .portfolio-foto
                    .topic
                        .topic-desc
                            .dashbord
                            span.topic-caption Блог
                            .dashbord
                        .topic-sign Статьи которые я написал

            section.content
                .triangle__header.triangle__header-colorblog
                    include ../common/triangle
                aside.content-menu
                    .wrap-menu
                        ul.menu-nav
                            li.nav-link.active-link Самое важное в SASS
                                .active-block
                            li.nav-link Приёмы в вёрстке, без которых не обходится ни один сайт
                                .active-block
                            li.nav-link Самый необходимый набор Gulp плагинов
                                .active-block
                            li.nav-link Почему я выбрал Jade
                                .active-block
                .content-text
                    article.text-block
                        .caption Самое важное в SASS
                        time.text-time 2 февраля 2018
                        .text
                            p SCSS — "диалект" языка SASS. А что такое SASS? SASS это язык похожий на HAML (весьма лаконичный шаблонизатор), но предназначенный для упрощения создания CSS-кода. Проще говоря, SASS это такой язык, код которого специальной ruby-программой транслируется в обычный CSS код.
                            p Синтаксис этого языка очень гибок, он учитывает множество мелочей, которые так желанны в CSS. Более того, в нём есть даже логика (@if, each), математика (можно складывать как числа, строки, так и цвета). Возможно, некоторые возможности SCSS покажутся вам избыточными, но, на мой взгляд, лишними они не будут, останутся "про запас".
                        .breakpoint
                    article.text-block
                        .caption Приёмы в вёрстке, без которых не обходится ни один сайт
                        time.text-time 13 февраля 2018
                        .text
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        .breakpoint
                    article.text-block
                        .caption Самый необходимый набор Gulp плагинов
                        time.text-time 1 марта 2018
                        .text
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        .breakpoint
                    article.text-block
                        .caption Почему я выбрал Jade
                        time.text-time 15 марта 2018
                        .text
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        .breakpoint
            footer.footer.footer-blog
                include ../common/footer
        script(src="./scripts/main.bundle.js")
            